@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  body {
    --color-background: #395c6b;
    --color-foreground: #b6cec8;
  }
} */

/* .LightMode {
  --color-background: #b6cec8;
  --color-foreground: #395c6b;
} */

/* body.DarkMode {
  --color-background: #0c212a;
  --color-foreground: #6db69f;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
